accelerate
audio-separator
av
bitsandbytes
decord
diffusers
einops
insightface
librosa
mediapipe[vision]
mlflow
moviepy
numpy
omegaconf
onnx2torch
onnx
onnxruntime-gpu
opencv-python
pillow
pyyaml
setuptools
torch
torchvision
tqdm
transformers
xformers
isort
pylint
pre-commit
scipy
imageio
lmdb
rich
ffmpeg-python
scikit-image
albumentations
matplotlib
imageio-ffmpeg
tyro
gradio
pykalman
